<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing Mail Detection</title>
    <style>
        #Log{
            font-family: Copperplate Gothic;
            background-color: blue;
            color:white;
            font-size: 18px;
            font-weight: bold;
            margin-left: 10px;
        }

        #content
        {
            margin-top: 20%;
        }
    </style>
</head>
<body style="background-color: #BC7FCD; font-family:'Times New Roman', Times, serif; text-align: center;">
    <h1>Phishing Mail Detection</h1>
    <form action="/predict" method="post" id="content">
        <h1><label for="input_mail">Enter your mail:</label></h1><br>
        <input type="text" id="input_mail" name="input_mail"><br><br>
        <input type="submit" id="Log" value="Submit">
    </form>
</body>
</html>
